:root {
    --yellow: #FBCD26 ;
    --orange: #FFB536;
}

body, html {
    height: 100%;
    width: 55%;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

hr {
    border: none; /* Elimina el borde predeterminado */
    height: 5px; /* Define la altura de la línea */
    background-color: var(--orange); /* Color de la línea */
    margin: 20px 0; /* Espacio alrededor de la línea */
}

a {
    text-decoration: none;
    color: #CED93C;
    font-weight: bold;
}

/* * Menu Styles */

.nav-menu {
    width: 40%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons-container {
    display: flex;
    justify-content: end;
}

.menu-buttons {
    width: 30px;
    height: 30px;
    background-color: #CED93C;
    border: #CED93C;
}

/** Products index */

.card-img {
    width: 20vh;
    height: 20vh;
}

/** login & register view */

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.login-container {
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    position: relative; /* Asegura que el contenedor de login se coloque por encima del fondo */
    z-index: 1;
}

.form-container {

    border: 8px solid #ffcc23; 
    background-color: #fcf386;
}