:root {
    --yellow: #FBCD26;
    --orange: #FFB536;
    --green: #CED93C;
    --bg-white: #fffff8;
}

body,
html {
    height: 100%;
    margin: auto 10% auto 10%;
}

body {
    opacity: 0; /* Establece la opacidad inicial en 0 para ocultar el contenido */
    transition: opacity 1s ease; /* Transición suave de la opacidad */
}

h1 {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

h2,
h3,
h4 {
    font-family: "Reddit Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

hr {
    border: none;
    height: 5px;
    background-color: var(--green);
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: var(--green);
    font-weight: bold;
}

.table {
    border: 2px solid black;
}

.activado {
    text-decoration: underline var(--green);
    text-decoration-thickness: 2px;
}

.aligned-menu {
    position: relative;
    margin-top: -42px;
    margin-left: 80%;
    width: 20%;
}

/* * Menu Styles */

.nav-menu {
    width: 100px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons-container {
    display: flex;
    justify-content: end;
}

.menu-buttons {
    width: 30px;
    height: 30px;
    background-color: var(--green);
    border: var(--green);
}

/** Products index */

.card-img {
    width: 20vh;
    height: 20vh;
}

/** login & register view */

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    filter: blur(2px);
}

.login-container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    position: relative;
    /* Asegura que el contenedor de login se coloque por encima del fondo */
    z-index: 1;
}

.form-container {
    border: 8px solid var(--green);
    background-color: var(--bg-white);
}

/*? buttons */

.btn-primary {
    background-color: var(--green);
    border-color: var(--green);
    color: black;
    font-weight: 500;
}

.btn-primary:hover {
    color: black;
    background-color: var(--yellow);
    border-color: var(--orange);
}

.btn-primary:active {
    color: black;
    background-color: red;
    border-color: red;
}

.btn-secondary {
    background-color: var(--yellow);
    border: var(--orange);
    color: black;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: var(--green);
    border: var(--green);
    color: black;
}

.btnCarrito {
    background-color: transparent;
    border: transparent;
}

/** quantity selector */
.quantity-selector {
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 20px auto;
    border: 1px solid var(--orange);
    border-radius: 5px;
    overflow: hidden;
}

.quantity-selector input {
    width: 50%;
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    -moz-appearance: textfield;
    appearance: textfield;
}

/*? ocultar flechas de suma y resta de cantidades */
.quantity-selector input::-webkit-inner-spin-button,
.quantity-selector input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-selector button {
    background-color: var(--yellow);
    border: none;
    cursor: pointer;
    padding: 10px;
}

.quantity-selector button:hover {
    background-color: var(--orange);
}

/*? messages */

.msg-info {
    font-size: 12px;
}

.info-message {
    border: 3px solid var(--yellow);
    padding: 5px;
    border-radius: 20px;
}

.error-msg {
    background-color: rgb(255, 105, 46);
    border-radius: 20px;
}

.txt-info {
    color: var(--green);
    font-weight: bold;
} 
/* * Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ecffd7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Sidebar Button */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 10px;
    right: 10px;
}

.openbtn:hover {
    background-color: #444;
}

.item-info {
    clear: both;
    display: inline-block;
    width: calc(100% - 32px - 80px);
}

.cartImage {
    width: 100px;
    height: 100px;
}

/*? inputs */

.profile-inp {
    border: var(--yellow) 3px solid;
    background-color: #feffe4;
}

.profile-inp:focus {
    border: var(--green) 3px solid;
    box-shadow: 0 0 0 0.2rem var(--green);
    background-color: #feffe4;
}

/** order info */
.order-info {
    font-size: 1.8vh;
}

.order-image {
    width: 100px;
    height: 100px;
}

.form-control {
    border: 2px solid var(--yellow);
}