:root {
    --yellow: #FBCD26 ;
    --orange: #FFB536;
}

body {
    width: 55%;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}

hr {
    border: none; /* Elimina el borde predeterminado */
    height: 5px; /* Define la altura de la línea */
    background-color: var(--orange); /* Color de la línea */
    margin: 20px 0; /* Espacio alrededor de la línea */
}

a {
    text-decoration: none;
    color: #CED93C;
    font-weight: bold;
}

/* * Menu Styles */

.nav-menu {
    width: 40%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-buttons-container {
    display: flex;
    justify-content: end;
}

.menu-buttons {
    width: 30px;
    height: 30px;
    background-color: #CED93C;
    border: #CED93C;
}

/** Products index */

.card-img {
    width: 20vh;
    height: 20vh;
}


/** login view */

.login-container {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}